@import url('https://fonts.googleapis.com/css?family=Dosis:800&display=swap');
body{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}
header{
    text-align: center;
    padding: 10px;
    width: 80%;    
}
header h1{
    color: #004ca3;
    text-shadow: 2px 2px #ffffff;
    font-family: 'Dosis', sans-serif;
    font-size: 3rem;
    margin: 0;
}

#btn-send{
    text-align:    center;
    text-shadow:   1px 1px #666666;
    font-size:     1em;
    background:    #1d6a96; 
    background:    linear-gradient(#46abee, #1d5196 50%, #1056da);
    border-radius: 12px;
    padding:       6px 8px;
    color:         #ffffff;
    height:        40px;
}
#btn-send:disabled{
    background: #94bfd8;
}
#postarea{
    width:         80%;
    text-align:    center;
    padding:       10px;
    background:    rgba(255, 255, 255, 0.37);
    border-radius: 12px;
}
#postarea h3, #postarea p{
    margin: 6px 0;
}
#footerpost{
    display: flex;
    justify-content: space-between;
    padding: 0 25px;;
    width: 80%;
    margin: 0 auto;
    font-size: 1.2em;
}
#text{
    width: 90%;
    padding: 10px;
    resize: none;
    overflow: hidden;
    font-size: 1.4em;
    border-radius: 8px;
    height: 20px;
}
#timelinearea {
    width: 80%;
    margin: 0;
    padding: 10px;
}

#timeline {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 10px;
    margin: 0;
}

#timeline li{
    padding: 10px;
    margin: 10px 0;
    list-style: none;
    border: solid 1px #1d6a96;
    border-radius: 8px;
    overflow: auto;
    background: rgb(255, 255, 255);
}
