body{
    padding: 20px;
}
header{
    text-align: center;
    padding: 20px;
}
textarea{
    width: 100%;
}

#btn-send{
    display: block;
}
#bio, #postarea{
    min-width: 30%; 
}
#timelinearea li{
    padding: 10px;
    margin: 10px 0;
    list-style: none;
    border: solid 1px blue;

}

.uptext{
    display: flex;
    justify-content: space-evenly;
}